.container-fluid {
  padding: 0 0;
}
.primary-btn {
  border: none;
  padding: 5px 10px;
  background: #ffcc00;
  color: #045c88;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.5s ease;
}
.primary-btn:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 5px gray;
}
.nav-link {
  font-weight: bold;
  color: black;
  transition: 0.5s ease;
}
.nav-link:hover {
  border-bottom: 5px solid #ffcc00;
}
