.project-details {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.project-cover {
  width: 50%;
  height: 345px;
  margin-top: 10px;
  box-shadow: 2px 2px 10px gray;
  /* margin-bottom: 60px; */
}

.project-img {
  object-fit: cover;
}
.project-description {
  width: 50%;
  margin-top: 40px;
  background: rgb(202, 238, 245);
  margin-left: -60px;
  margin-bottom: 10px;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px gray;
}
.project-description h3 {
  color: #045c88;
  font-style: italic;
}
.project-description h5 {
  font-size: 17px;
}
.project-description ul li {
  font-size: 15px;
  color: rgb(58, 57, 57);
  padding-bottom: 7px;
}
