.title-text {
  font-weight: bold;
  color: #045c88;
  position: relative;
}
.line-style {
  position: absolute;
  top: 1.2rem;
  width: 170px;
  margin-left: 10px;
  height: 2px;
  background: #ffcc00;
}
